/* https://coolors.co/palette/0a0908-22333b-eae0d5-c6ac8f-5e503f
0A0908 black
22333B dark blue
EAE0D5 white
C6AC8F beige
5E503F brown
*/
body {
    background-color: #c7944c   ;
}
.phoenix  {
    align-items: center; 
    display: block;
}
.phoeniximg {
    width: 150px;
    height: auto;
    float: left;
    margin-top: -75px;
}
.text{
    margin-top: 75px;
}

.text a  {
    text-decoration: underline;
    color: #0A0908;
}
.text a:visited {
    color:#0A0908 ;
}
.phoenixtext {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    
}

